#### 1. Load data (movie classification)

In [12]:
import pandas as pd
import numpy as np
movie = pd.read_csv('C:/Users/azkaw/OneDrive/Documents/College/code/Infrastruktur dan Platform untuk Sains Data/Movie_classification.csv')

In [13]:
movie.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

#### 2. Cek nilai duplikat

In [14]:
duplicate_rows = movie[movie.duplicated()]
print(f"Jumlah baris duplikat: {duplicate_rows.shape[0]}")

Jumlah baris duplikat: 0

#### 3. Menemukan null values buat presentase

In [16]:
null_values = movie.isnull().sum()
null_percentage = (null_values / len(movie)) * 100
print(null_percentage)

Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

#### 4. Drop missing value berdasarkan baris, kolom, imputasi dengan mean, modus, median

In [38]:
# Drop baris dengan missing value
movie_dropped_rows = movie.dropna()

# Drop kolom dengan missing value
movie_dropped_columns = movie.dropna(axis=1)

# Imputasi dengan mean untuk kolom numerik
numeric_cols = movie.select_dtypes(include=['float64', 'int64']).columns
movie_imputed_mean = movie.copy()
movie_imputed_mean[numeric_cols] = movie[numeric_cols].fillna(movie[numeric_cols].mean())

# Imputasi dengan modus untuk kolom kategorikal
categorical_cols = movie.select_dtypes(include=['object']).columns
movie_imputed_mode = movie.copy()
for col in categorical_cols:
    movie_imputed_mode[col] = movie[col].fillna(movie[col].mode()[0])

# Imputasi dengan median untuk kolom numerik
movie_imputed_median = movie.copy()
movie_imputed_median[numeric_cols] = movie[numeric_cols].fillna(movie[numeric_cols].median())

#### 5. Export data ke csv dan excel

In [43]:
# Menyimpan data ke file CSV
movie.to_csv('output_file.csv', index=False)

# Menyimpan data ke file Excel
movie.to_excel('output_file.xlsx', index=False)